body {
    padding: 50px;
}

#post-details {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
}

#post-title {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: left; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
    width: 90%
}

#post-content {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: left; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
    width: 90%;           /* Full width for inputs and textarea */
    resize: none; /* Prevent manual resizing to let JavaScript control it */
    overflow: hidden; /* Hide scrollbar to avoid jumpiness */
}

#post-date {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
    width: 90%
}

#delete-post-btn {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
    width: 20%
}

