body {
    padding: 50px;
}

#post-details {
    
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: left; /* Centers the text horizontally */
    margin-top: 40px; /* Adds some space from the top */
    
}

#post-details #post-content {
    font-size: 18px; /* Adjust this value as needed */
    line-height: 1.6; /* Adjust this value as needed */
}

#comments-container div {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: left; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* This will ensure the space between items */

}

#edit-post-link {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
    color: black;
    text-decoration: none;

}

#delete-post-link {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
    color: black;
    text-decoration: none;
    
    
}
#comments-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}

#comments-container button {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space from the top */
    color: black;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;

}

#create-comment {
    padding: 20px;
    border: 2px solid #ebe6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: left; /* Centers the text horizontally */
    margin-top: 40px; /* Adds some space from the top */
    
}

#comemnt-create-link {
    color: black;
    text-decoration: none;
}